* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContent {
  color: #ffffffff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
}

.mainContent__column {
  color: #ffffffff;
  background-color: #4b9402;
  border: 1px solid #000000ff;
  margin: 5px;
}

.width--4 {
  width: 30%
}

.just--left {
  display: flex;
  justify-content: flex-start;
}

.just--center {
  display: flex;
  justify-content: center;
}

.just--right {
  display: flex;
  justify-content: flex-end;
}