@import 'foundation.css';

@font-face {
    font-family: EraserDust;
    src: url(../assets/fonts/EraserDust.woff2);
    font-display: swap;
}

body {
    background-color: #000000FF;
    color: #FFFFFFFF;
    text-align: center;
}

img {
    max-width: 100%;
}

.h-center {
    text-align: center;
}

.main-content {
    height: 100vh;
    width: 100%;
    font-family: EraserDust, Arial, serif;
    font-size: 36px;
    padding: 5%;
    background: rgba(0, 0, 0, 0.5) url(../assets/images/chalk_board2.webp);
    background-size: 100% 100%;
}

.main-content p {
    position: relative;
}

.main-content img {
    position: relative;
}

.main-content a {
    text-decoration: underline;
}

.main-content a:visited {
    color: #FF69B4FF;
}

.main-content a:hover {
    color: #FFA500FF;
}

.logo {
    margin-top: -5%;
}

.font--medium {
    font-size: 28px;
}

footer {
    display: block;
    position: relative;
    /*float: left;*/
    /*bottom: 10px;*/
    margin-top: 1.2em;
    clear: both;
}

footer p {
    font-family: Arial, serif;
    font-size: 18px;
    margin-top: 1em;
}

@media only screen and (max-width: 30em) {

    .main-content {
        height: 100vh;
    }

    .logo-image img {
        width: 300px;
        height: 117px;
        max-width: 100%;
    }

    .footer img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 40em) {
    .logo-image img {
        width: 200px;
        height: 78px;
        max-width: 100%;
    }

    .footer img {
        max-width: 100%;
    }

    .main-content {
        font-size: 26px;
        /*color: white;*/
        padding: 5%;
    }

    .font--medium {
        font-size: 22px;
    }
}
