<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Budgeting Education">
		<title>Budgeting</title>
		<link rel="stylesheet" href="../../css/foundation.css" type="text/css">
	</head>
	<body>
		<div class="grid-container fluid">
		<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="logo_div">
					<br>
					<a href="https://www.stfranciscu.org" target="_blank"><img src="../../assets/images/sfxfcu_logo250.jpg" alt="Logo"></a>
				</div>
			</div>
			<br>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="content_div">
					<h1 class="callout secondary">Budgeting</h1>
					<p>Budgeting should be the cornerstone of your financial house. You should focus on tracking all of your 
					expenses for the month, using a method of your choice listed below in the Tools/Systems section. <strong><a href="https://www.youtube.com/watch?v=75VZ-cfORDg&list=PLel90WA3J2dQ7M7Mt9-isj_Q0Nix7kDpr&index=17" target="_blank">THIS</a></strong> & <strong><a href="https://www.youtube.com/watch?v=HQzoZfc3GwQ&list=PLel90WA3J2dQ7M7Mt9-isj_Q0Nix7kDpr&index=28" target="_blank">THIS</a></strong>
					are nice videos to get you started and <strong><a href="https://credit.org/blog/5-tips-for-a-3-paycheck-month/" target="_blank">THIS</a></strong> is good advice on how to handle 3-pay months if you are paid bi-weekly.</p>
					<p>To help you balance your budget, <strong><a href="https://www.youtube.com/watch?v=7PJSeJWu0cY&list=PLel90WA3J2dQ7M7Mt9-isj_Q0Nix7kDpr&index=31" target="_blank">THIS</a></strong> video has some good ideas for side hustles.</p>
				</div>
			</div>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell">
					<h3>Creating a Budget</h3>
					<ol>
						<li>Start with listing your <strong>Monthly Income</strong>. Budget out with four weeks of take-home pay. If you're starting a new job and planning ahead, use an <a href="https://www.adp.com/tools-and-resources/calculators-and-tools/payroll-calculators/salary-paycheck-calculator.aspx" target="_blank">after tax paycheck calculator</a> to get some rough numbers.</li>
							<ul>
								<li>If you're paid twice per month, you might want to grab your February pay stubs (or a calculator) and see what 10 workdays of pay looks like, then multiply by two. This will help you budget out the worst-case scenario.</li>
								<li>If your monthly income fluctuates, list your worst-case or lower-than-average scenario. Budget out for that instead, and anything that's left over should be allowed to float in your checking as a buffer.</li>
							</ul>
						<li>Take a look at your <strong>Mandatory Spending</strong>. This is all the spending that is related to safety and survival. This kind of spending includes:</li>
							<ul>
								<li>Mortgage, rent, and insurance.</li>
								<li>Electric, internet, natural gas, water/sewer.</li>
								<li>Groceries</li>
								<li>Transportation</li>
							</ul>
							<br>
							<p><strong>Not included</strong> in this list are discretionary items (which belong in Section 4):</p>
							<ul>
								<li>Cable TV</li>
								<li>Dining out, bars, and clubs</li>
								<li>Shopping</li>
							</ul>
							<br>
							<p><strong>A few Rules of Thumb:</strong> You should consider making a major change to your lifestyle if one of the following scenarios is happening:</p>
							<ul>
								<li>Your monthly mortgage/rent is more than 30% of your take home pay. You might want to consider getting a roommate, or moving to some place cheaper.</li>
								<li>Your monthly expenses on your car are more than 15% of your take home pay. You might want to consider carpooling to work, traveling less, or taking the bus or a bike. You may also want to consider moving closer or selling your car, if either is an option.</li>
								<li>Your groceries cost more than $300 per person. If you're trying to cut costs, you might want to look at more frugal options for buying groceries, such as buying in bulk, going for store-brand foods, or frequenting less expensive grocery stores.</li>
							</ul>
							<br>
						<li>Take a look at your <strong>Debts, Goals, and Retirement.</strong> How much you put here is subjective, but the faster you take care of this, the quicker you can become financially independent.</li>
						<br>
						<li><strong>Discretionary spending</strong> is anything that's left over from your goals. Shopping, hobbies, cable, coffee, fast food, dining, and so on. Just remember: always live within your means, and try to save up for capital expenses before buying.</li>
						<br>
					</ol>
				</div>
			</div>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell">
					<h3>Tools/Systems</h3>
					<p>Figure out a tool/system that works for you.</p>
					<p><strong><a href="https://www.squawkfox.com/category/budgeting/" target="_blank">SquawkFox</a></strong> has some great tools and resources to get you started.</p>
					<h5>Commercial Software</h5>
					<ul>
						<li><strong><a href="https://www.personalcapital.com/" target="_blank">Personal Capital</a></strong> is free and automates much of the process by linking up with most financial institutions to help track your spending and other aspects of your finances.</li>
						<li><strong><a href="https://www.youneedabudget.com/" target="_blank">YNAB</a></strong> is commonly recommended. Here are some notes on pricing:
							<ul>
								<li>Currently a subscription service at $7/month (or $83.99/yr)</li>
								<li>There is a 34-day free trial.</li>
								<li>Students with a .edu e-mail address get one annual subscription to YNAB for free.</li>
							</ul>
						</li>
					</ul>
					<h5>Budgeting</h5>
					<ul>
						<li><strong><a href="https://docs.google.com/spreadsheets/u/0/?ftv=1&tgif=c" target="_blank">Google Personal Templates</a></strong> has both annual and monthly budget templates (choose one of those).</li>
						<li><strong><a href="https://www.vertex42.com/ExcelTemplates/money-management-template.html" target="_blank">Money Management Template by vertex42.com </a></strong><a href="https://www.youtube.com/watch?v=33pWTR2pDZA" target="_blank">demo video</a>(3 min)</li>
						<li><strong><a href="https://www.fcac-acfc.gc.ca/Eng/resources/toolsCalculators/Pages/BudgetCa-Calculat.aspx" target="_blank">Budget Calculator (Online) and </a></strong><a href="https://www.fcac-acfc.gc.ca/Eng/resources/toolsCalculators/Documents/budgetCalculator-eng.xls" target="_blank">Budget Calculator (Excel)</a> by Financial Consumer Agency of Canada</li>
						<li><strong><a href="https://consumerist.com/2010/12/01/dangerps-sweet-excel-budget-spreadsheet-with-debt-snowball/" target="_blank">Budget with Snowball</a></strong></li>
						<li><strong><a href="https://www.mymoney.gov/Fast/Pages/Results.aspx?k=Budgeting%20worksheets&s=All" target="_blank">Budgeting Worksheets</a></strong></li>
					</ul>
					<h5>Free Calculators</h5>
					<ul>
						<li><strong><a href="https://www.vertex42.com/Calculators/debt-reduction-calculator.html" target="_blank">Debt Reduction Calculator</a></strong> by vertex42.com (compare avalanche, snowball, and customized order of pay down)</li>
						<li><strong><a href="https://www.mymoney.gov/Fast/Pages/Results.aspx?k=Calculators&s=All" target="_blank">Free Calculators</a></strong> for Tax Withholding, Credit Card Repayment, Debt Payoff etc.</li>
						<li><strong><a href="https://www.nytimes.com/interactive/2014/upshot/buy-rent-calculator.html" target="_blank">Rent vs. Buy Calculator</a></strong></li>
						<li><strong><a href="https://www.calcxml.com/english.htm" target="_blank">A variety of financial calculators:</a></strong> Cash flow, college, credit and debt, home & mortgage, taxation (US), insurance, paycheck & benefit, qualified plans, retirement, savings, investment, automotive and business.</li>
						<li><strong><a href="https://powerpay.org/" target="_blank">A debt pay down calculator</a></strong> that allows you to create a log-in to save your information. Includes extra payments (scheduled and one-off).</li>
					</ul>
					<h5>The Envelope System</h5>
					<p>Once you have your budget in place, using the envelope system can be a good way to stick to your budget. 
					Decide what spending categories you want to try to control using the envelope system. Typically, any area where you
					overspend is a good one to use. For many people this might be food, clothing, and entertainment. For each of those 
					categories go to the credit union or ATM and withdraw your budgeted amount in cash. Take an envelope and write the 
					name of the category on the front of the envelope and put the money inside. From then on, whenever you spend money 
					in this category it must come from that envelope. If you don't use the money for that month leave it in there and 
					add your budgeted amount again next month. If you are consistently not spending the money maybe you want to adjust 
					your budget. Some things you just don't buy every month though. People tend to buy clothes seasonally, for example.</p>
					
					<p>The advantage of the envelope system is it makes you stop and think. If you're at the store and want to buy something, 
					you look in the envelope. If the envelope is empty you know that buying that item would put you over budget. If you're 
					half-way through the month and have spent more than half your food money it may not be a good idea to go out to eat
					that night. Is that toy really worth half of your entertainment budget for the month? It can also help those that have 
					a hard time spending money. If you open the food envelope and there is more than enough money for the rest of the 
					month, you can feel better about going out with your friends.</p>
				</div>
			</div>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="">
					<h3>Cutting your Spending Meaningfully</h3>
					<p>Once you have begun to track all of your expenses carefully, you will begin to notice where to make appropriate cuts, good places to shift your resources, and other goals you might want to make. You get to decide what is meaningful.</p>
					<p>Benjamin Franklin once said, "A penny saved is a penny earned." If this is true, then a budget cut is the same thing as increasing your income.</p>
					<p>Your goals and cuts should be <strong>SMART:</strong></p>
					<ul>
						<li><strong>S</strong>pecific - Ensure you are stating specific goals. Example: "I will cut my restaurant budget by 25% this month."</li>
						<li><strong>M</strong>easurable - You need to have a way to measure if you succeeded or failed. With money, this is usually pretty easy. The example above is measurable; if you spent $100 on restaurants this month, you've succeeded if you spend $75 or less next month.</li>
						<li><strong>A</strong>ssignable - Usually this is assigned to you, but can be for anyone (especially if you have a family). "My spouse will maximize contributions to an IRA this year."</li>
						<li><strong>R</strong>ealistic - Cutting your restaurant budget by 100% probably isn't achievable in one month. Gradually changing a bad habit is the best way to achieve long-term success.</li>
						<li><strong>T</strong>ime-bound - Hold yourself accountable by setting a deadline. Goals with nebulous time frames you can adjust at will don't help you.</li>
					</ul>
					<p>Oft-cited ways to reduce spending are to cut cable, reduce cell phone plans to a minute/data level you actually use, cook at home/bring lunch to work, refinance a loan, cut coupons, de-link credit cards from online shopping sites, reduce use of your credit card & substitute cash, turn off lights when not in use, turn down the heat/air conditioning when not at home or sleeping, etc.</p>
				</div>
			</div>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell">
					<p><strong><a href="https://www.reddit.com/r/personalfinance/wiki/budgeting" target="_blank">SOURCE</a></strong></p>
				</div>
			</div>
		</div>
	</body>
</html>