<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Retirement Education - 401(k)">
		<title>Retirement - 401(k)</title>
		<link rel="stylesheet" href="../../css/foundation.css" type="text/css">
		<link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div class="grid-container fluid">
		<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="logo_div">
					<br>
					<a href="https://www.stfranciscu.org" target="_blank"><img src="../../assets/images/sfxfcu_logo250.jpg" alt="Logo"></a>
				</div>
			</div>
			<br>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="content_div">
					<h1>Retirement - 401(k)</h1>
					<h3 class="callout success">How does a 401(k) work?</h3>
					<p>In plain English, <em>a 401(k) is an account you put money into that receives favorable tax treatment</em>.  Each year you can elect to contribute money to your 401(k) plan through payroll deductions.  Elective deductions are usually specified as a percentage of your income, although some plans allow you to specify a dollar amount as well.  The <a href="https://www.irs.gov/Retirement-Plans/401k-Plans-Deferrals-and-matching-when-compensation-exceeds-the-annual-limit" target="_blank">annual contribution limit</a> is $19,500 in 2021 (plus an additional $6,500 in 2021 if the employee is age 50 or older). Do not go over this limit (most plans will not let you exceed the limit, but if you change jobs during the year, you may need to work with your new employer to avoid exceeding the limit).</p>
					<p>401(k) plans come in two flavors:</p>
					<ul>
						<li><p><strong>Traditional 401(k)</strong> plan contributions reduce your taxable income.  This is known as tax deferral. You are not taxed on the money you contribute now, but will pay income tax on your contributions <em>and</em> your earnings at your marginal tax rate when you take distributions from your 401(k) in the future.</p></li>
						<li><p>If you contribute to a <strong>Roth 401(k)</strong>, contributions have already been taxed at your current marginal income tax rate.  In exchange, all earnings may be distributed <em>tax free</em> if the distribution meets certain age and eligibility requirements.  Note that not all 401(k) plans have a Roth option.</p></li>
					</ul>
					<p>Which one do you choose?  It depends on a lot of factors, but the big ones are:</p>
					<ul>
						<li><p>Income: High earners are usually better off contributing to a traditional 401(k), as this allows them to avoid paying their current high marginal tax rate.  Conversely, those with lower incomes usually favor the Roth option, as they can pay a low marginal tax rate now in exchange for never being taxed on that money again.</p></li>
						<li><p>Your guess about your future income tax rates. Those that believe they will be in a lower income tax bracket when they retire usually favor the traditional 401(k).  Those that believe they will be in a higher income tax bracket when they retire usually favor the Roth option.  Those that believe income tax rates will rise across the board in the future usually favor the Roth option.</p></li>
					</ul>
					<p>Money you contribute to your 401(k) must then be invested in the funds your 401(k) provider offers you.</p>
					<h3><strong>How should I invest within my 401(k)?</strong></h3>
					<p>Once you have contributed to your 401(k), you are still left with the somewhat daunting decision of how to invest within your plan.  For better or for worse, 401(k) providers typically "help" by limiting your choices to a small number of mutual funds (after all, the only true freedom is freedom from choice, right?).  </p>
					<p>A good strategy that should serve anyone well is the <a href="https://www.bogleheads.org/wiki/Three-fund_portfolio" target="_blank">3-fund portfolio</a>.  In the 3-fund portfolio you aim to hold broadly diversified index funds in the three major asset classes:  US stocks, International stocks, and Bonds.  By investing in this manner you are instantly diversified across thousands of different securities, will never significantly underperform the market, and are mathematically certain to outperform most investors doing differently.</p>
					<p>Unfortunately not all 401(k) plans are created equal, and some fund selections are truly horrendous containing funds with expense ratios in excess of 1.5%.  If this is the case for your 401(k) plan, consider <a href="https://www.bogleheads.org/wiki/How_to_campaign_for_a_better_401(k)_plan" target="_blank">campaigning for improvements</a>.  While you're doing that, make the best of a bad situation and choose the lowest-cost funds in your plan.  You could also consider funding an IRA before contributing to your 401(k) plan. However, if you are saving for retirement you should contribute to your tax-advantaged accounts to their limits before putting money in a taxable account with no tax advantages.</p>
					<h3><strong>Asset Allocation</strong></h3>
					<p>Your asset allocation is how you divide your money amongst the various asset classes and the various funds you've elected to invest in.  The literature on asset allocation is extensive. Use Google if you want the nitty-gritty details.  Here are some basic rules of thumb:</p>
					<ul>
						<li><p>The core of your portfolio should be the three major asset classes: US stock index funds, International Stock index funds, and Bond index funds.</p></li>
						<li><p>A good starting point for determining your bond holding percentage is [your age]%.  </p></li>
						<li><p>At least 20% of your stock holdings is recommended to be in an international stock index fund (<a href="https://institutional.vanguard.com/iam/pdf/internationalbrief.pdf" target="_blank">source</a>).</p></li>
						<li><p>The younger you are, the more risk you can afford to take on in the form of higher allocations to stocks.</p></li>
						<li><p>Your asset allocation can and <strong>should</strong> change over time.  A 25-year-old's investments will be very different from a 55-year-old's.</p></li>
						<li><p>Target date funds take the work out of asset allocation for you.  Target date funds will automatically get more conservative as you age, reducing your exposure to major market movements as your ability to wait them out declines.</p></li>
					</ul>
					<h3><strong>Some other frequently asked questions</strong></h3>
					<h4>1. <em>My employer does not match my contributions.  Should I still contribute to my 401(k)?</em></h4>
					<p>If your employer does not match contributions, and you are looking to save money in a tax-advantaged account, most people will be better served with an IRA.  However, the IRA contribution limit is $6,000 per year for those under 50 and has income limitations.  If your income is such that you do not get the full tax advantages of an IRA, it is absolutely worth contributing to your 401(k) in order to save for retirement.</p>
					<h4>2. <em>My 401(k) is bad.  Should I still contribute to it?</em></h4>
					<p>If your 401(k) has a poor selection of high-cost funds, consider contributing to an IRA first.  You can open an IRA with whomever you want, thus allowing you to choose which funds you have access to.  If you have already maximized your IRA contribution for the year and still have money left over you want to put towards retirement, you should contribute to your poor 401(k).  The effect of high expenses really only starts to bite after long periods of time, and 401(k) plans are quite portable in that you can roll them to your IRA if you leave your current employer, or sometimes you can roll it into a new 401(k) with a new employer.  Bad 401(k) plans can turn into great IRAs in a heartbeat.</p>
					<h4>3.  <em>I want to retire early.  Should I contribute to my 401(k) and lock up my money until retirement?</em></h4>
					<p>You should take advantage of the tax structure of the 401(k) for at least some of your savings, assuming you are planning to live past 59½ years of age.  Early retirement requires a lot of planning. You should project your needs before and after you're eligible to take distributions from your 401(k) and plan accordingly.</p>
					<p>If you plan to retire before 59½, but close to it (e.g., age 55), you can use SEPP 72(t) distributions to access pre-tax money without penalty. If you do so even earlier, you can access it with a five-year delay via a Roth IRA conversion ladder, although you'll still need the first five years' expenses available via taxable accounts, Roth IRA contributions, and perhaps part-time work.</p>
					<h4>4.  <em>Pay off debt or contribute to my 401(k)?</em></h4>
					<p>If your employer matches any of your 401(k) contributions you should contribute enough to get the full match.  This is free money that you should not leave on the table. After that, any high interest debt carrying interest rates beyond what you could reasonably get investing elsewhere should take priority.  Remember that paying down debt offers something that only scammers can claim otherwise: guaranteed, risk-free return!</p>
					<h4>5.  <em>I'm a young person and want to invest aggressively. Why invest in bonds at all?</em></h4>
					<p>Bonds provide a source of funds to purchase potentially higher-yielding investments when they can be had at discount prices during market downturns, reduce your portfolio's volatility, and usually offer a steady return themselves.  On the technical side, there are numerous studies that show that 100% (or more) stock investors are not compensated in proportion to the extra risk they take on by doing so.  While stocks have outperformed bonds over the long run to date, "past performance is not indicative of future returns."  Finally, the psychological/emotional effects of a severe bear market really cannot be appreciated until they're felt first hand.  It is one thing to say you're OK watching half of your investment portfolio evaporate in a few weeks.  It's quite another to watch it happen for real and have the wherewithal to stay the course.  Bonds offer some consolation in such a scenario.</p>
					<h4>6.  <em>What is a vesting period?</em></h4>
					<p>Any contributions that come out of your paycheck are always 100% yours.  However, if your employer provides any matching contributions to your 401(k), occasionally they become yours according to a <em>vesting schedule</em>.  A vesting schedule is essentially a time delay between when the money your employer contributes becomes "yours," and is used as an incentive to keep employees with a particular company.  Vesting schedules can take many forms: some schedule vesting in 20% increments (20% the first year, 40% the second year, etc.), some have a set amount of time (100% vesting after 3 years), others do not have a vesting period at all and the money is yours immediately.  Your company's HR section should be able to explain the terms of your company's vesting schedule, if you have one.</p>
					<h4>7. <em>I've left my previous employer.  What should I do with my old 401(k)/403(b)/retirement plan?</em></h4>
					<p>See the rollover section below.</p>
					<h4>8. <em>Do rollovers into my new 401(k) count against my annual contribution limit?</em></h4>
					<p>No.  Rollovers do not count against annual contribution limits for your 401(k).</p>
					<h4>9.  <em>Do employer contributions into my 401(k) count against my annual contribution limit?</em></h4>
					<p>No.  Employer contributions do not count against the individual contribution limits ($19,500 in 2021).  They do, however, count against the total 401(k) contribution limit ($58,000 in 2021).</p>
					<h4>10.  <em>My company offers an after-tax 401(k). Should I contribute?</em></h4>
					<p>Possibly, if you have already reached the annual max for traditional or Roth contributions.</p>
					<h4>11. <em>Can I contribute $19,500 to my 401(k) and $6,000 to my IRA?</em></h4>
					<p>Yes.  The 401(k) and IRA contribution limits are separate and do not affect each other. IRAs do have income limits, though. Please see #14 below.</p>
					<h4>12. <em>Can I withdraw my contributions from my Roth 401(k) without taxes or penalties (like my Roth IRA)?</em></h4>
					<p>No.  Unlike a Roth IRA, you cannot choose to only withdraw contributions from a Roth 401(k).  Distributions will contain a proportional amount of contributions and earnings, and the earnings will be taxed and penalized.</p>
					<h4>13. <em>Can I roll my traditional IRA into my 401(k)?</em></h4>
					<p>Yes. An IRA-to-401(k) rollover offers benefits such as earlier access to the money and easier conversion to a Roth. Drawbacks include limited investment selection and loopholes for withdrawals. Refer to <a href="https://www.nerdwallet.com/article/investing/rollover-ira-to-401k" target="_blank">this NerdWallet article</a>.</p>
					<h4>14. <em>What are the income & contribution limits of an IRA?</em></h4>
					<p>The annual IRA contribution limit in 2020 and 2021 is $6,000 ($7,000 if age 50 or older). Refer to <a href="https://www.nerdwallet.com/article/investing/ira-contribution-limits" target="_blank">this NerdWallet article</a> for the income limit chart.</p>
					
					
					<h3 class="callout success">What is a 401(k) rollover?</h3>
					<p>Rollovers are transfers of funds from one retirement account to another in a way that keeps the money in a tax-advantaged account.  Rollovers are different from distributions. A distribution is when money is taken out of a retirement account (in other words, it's converted to cash).</p>
					<h3>What kind of accounts can be rolled into one another?</h3>
					<p>Common rollover sequences are:</p>
					<ul>
						<li><p>Traditional 401(k) to traditional IRA (No tax consequences)</p></li>
						<li><p>Traditional 401(k) to Roth IRA (the amount rolled over will be taxed as income)</p></li>
						<li><p>Roth 401(k) to Roth IRA (No tax consequences)</p></li>
						<li><p>Traditional/Roth 401(k) to Traditional/Roth 401(k) (no tax consequences when one type of account to another of the same type)</p></li>
						<li><p>Traditional IRA to Traditional 401(k) (also known as a "reverse rollover" or "roll-in")</p></li>
					</ul>
					<p>Note that Roth IRAs can only be rolled into another Roth IRA. They cannot be rolled into a Roth 401(k) or other employer-sponsored Roth accounts.</p>
					<p>For a detailed chart of rollover types, please refer to the <a href="https://www.irs.gov/pub/irs-tege/rollover_chart.pdf" target="_blank">IRS Rollover Chart (PDF)</a>.</p>
					<h3>Frequently Asked Questions on Rollovers</h3>
					<h4>What should I do with my old 401(k)?</h4>
					<p>You usually have 3 options to choose from:</p>
					<ol>
						<li>Leave it where it is, managed by your old 401(k) company. (This assumes there is no periodic fee to maintain your account as a non-employee and that you have enough money in the account to meet 
						any minimum requirements.)</li>
						<li>Roll it over into an IRA.  Note: this may not be a great idea for pre-tax 401(k) plans if you have a high income that is above the Roth IRA contribution limits and are planning to do a backdoor 
						Roth IRA in the future (due to the <a href="https://www.forbes.com/sites/ashleaebeling/2012/01/23/the-backdoor-roth-ira-advanced-version/" target="_blank">pro-rata rule</a>).</li>
						<li>Roll it over into your new company's 401(k) plan. (This assumes they allow it.)</li>
					</ol>
					<p>Generally, you should make your decision based on which of the three options provides the best selection of investment options. "Best" is based primarily based on which has the investment options 
					with the <em>lowest <a href="https://en.wikipedia.org/wiki/Expense_ratio" target="_blank">expense ratios</a></em>. Most of the time this will be option #2: an IRA with a
					<a href="https://www.reddit.com/r/personalfinance/wiki/iras#wiki_7._how_do_i_open_an_ira.3F__where_should_i_open_one.3F" target="_blank">low cost provider</a> where you have access to index funds with
					expense ratios below 0.1%.  However, if either your old or new 401(k) has a particularly good choice of low expense ratio index funds (below 0.1%) to choose from you may want to choose option #1 or #3. 
					Larger employers tend to have better 401(k) plans, but check your new plan before making any decisions.</p>
					<p>Note that some 401(k) plans feature "force-out" provisions that will remove separated participants with a low-balance from the 401(k) plan. If your old employer's 401(k) plan features a force-out 
					provision, they may exercise it if your account balance is less than $5,000. If your account balance is below $1,000, your former employer may send you the entire balance in the form of a check; 
					otherwise, your employer must exercise the force-out by rolling the money into an IRA on your behalf. If you have an old 401(k) and are planning on keeping your money in the plan (as per option #1), 
					ensure that your balance is high enough that you cannot be forced out, or that your plan does not force out old participants. If you are planning a rollover (as per option #2 or #3), and your old 
					employer's 401(k) plan features a force-out provision, you may want to roll your balance out as soon as possible, to avoid your 401(k) balance going through the force-out process.</p>
					<p>Some other factors you may want to consider in addition to the above:</p>
					<ol>
						<li>Both IRAs and 401(k) plans have protections from creditors and bankruptcy, but the protections differ for IRAs from state to state and the protection is generally stronger for 401(k) plans, 
						especially non-Individual 401(k) plans.
							<ul>
								<li>While retirement plan assets rolled from ERISA plans such as 401(k) plans into a Rollover IRA are generally protected under ERISA, it may be necessary to keep those assets segregated 
								in a distinct Rollover IRA separate from other Traditional or Roth IRAs in order for those assets to be protected under ERISA 
								(<a href="https://www.thetaxadviser.com/issues/2014/jan/naegele-jan2014.html" target="_blank">source 1</a>, 
								<a href="https://www.journalofaccountancy.com/issues/2006/jan/protectretirementassets.html" target="_blank">source 2</a>).</li>
								<li>If this is an area of concern for you, we recommend consulting with a qualified bankruptcy attorney.</li>
							</ul>
						</li>
						<li>Some 401(k) plans allow current employees to <a href="https://loans.usnews.com/how-do-401-k-loans-work" target="_blank">borrow from their 401(k)</a>.</li>
						<li>The IRS lets you withdraw penalty-free from an IRA for a few reasons unrelated to retirement.
							<p>Often, people who are interested in early retirement put most of their retirement savings into taxable accounts because they believe IRAs, 401(k) 
							plans, and other tax-advantaged accounts "lock up" their money until they are 59½.  If you are interested in retiring before 59½, this is one of the worst 
							mistakes you can make.</p>
							<p>It's a mistake because the premise isn't true at all.  There are many ways you can get access to retirement funds before age 59½ and all without that horrible 10% penalty for early withdrawals.</p>
							<p>(Note that taxable accounts make total sense for some early retirement situations and in many non-retirement situations and this are discussed some more down below.)</p>
							<p>Some of the ways you can get money out of tax-advantaged accounts to fuel early retirement</p>
							<ol>
								<li><p><strong>SEPP</strong>: Section 72(t) specifies how you can take distributions received in substantially equal periodic payments (SEPP) without penalties. There are several methods
								to calculate how much you can withdraw and stay within the rules (which allow you to decide when you start SEPP if you want less money or more money), but this method is a bit inflexible because you 
								can't modify things until 5 years have passed, or you reach the age of 59½ (whichever is longer).  Nevertheless, this is often a good choice for early retirees.
								<a href="https://www.moneycrashers.com/substantially-equal-periodic-payments-sepp-72t-rule/" target="_blank">Money Crashers has a good article with more information on the topic</a> and there's a
								<a href="https://www.irs.gov/Retirement-Plans/Retirement-Plans-FAQs-regarding-Substantially-Equal-Periodic-Payments" target="_blank">FAQ at the IRS</a> too.</p>
								</li>
							</ol>
							<p>SEPP tends to recommended more often for a small number of years prior to age 59½, and it's also a good option when you don't have sufficient Roth IRA or taxable investments to use #2 or #3.
							It is possible to work around the inflexibility to some extent if you have multiple accounts since SEPP is done (or not done) with each retirement account separately.</p>
							<p>Finally, SEPP from an employer plan requires that you separate from <em>that</em> company first, but IRAs do not have that requirement.</p>
							<p>2. <strong>Roth IRA contributions</strong>: If you have a Roth IRA, you can withdraw the portion of your Roth IRA that comes from your contributions without penalty.  
							(Note that you cannot withdraw any earnings penalty-free until 59½, only your own contributions.)</p>
							<p>3. <strong>Set up a Roth IRA ladder</strong>. You set up a series of Traditional IRA to Roth IRA conversions early in your retirement (when you are presumably in a lower tax bracket). 
							After seasoning the money for 5 years, you can withdraw the converted principal from your Roth IRA without penalty (any earnings from that period of time need to hang out until 59½).
							<a href="https://rootofgood.com/roth-ira-conversion-ladder-early-retirement/" target="_blank">Root of Good</a> has a good article on this.</p>
							<p>This is now one of the most popular methods for early retirement.  It does require that you have a different method to fund the first 5 years of retirement.  A taxable account, Roth 
							accounts, or a 457 would all be good ways to do that.</p>
							<p>4. <strong>Retire after age 55 with a 401(k)</strong>.  You can withdraw from a 401(k) if you left that job after age 55 (technically, you just need to be 55 or older in the calendar 
							year in which you leave that job).  If most of your money is in IRAs, you can simply move that money into your 401(k) before you leave that job (some 401(k) plans don't allow roll-ins so check first). 
							Note that withdrawal frequency and some other aspects of this are specific to the 401(k) plan.</p>
							<p>If you have self-employment income, you can also use an Individual 401(k) for this, but also make sure that your provider allows roll-ins.</p>
							<p>5. If you have a Thrift Savings Plan and <a href="https://www.tsp.gov/LifeEvents/career/enteringRetirement.html" target="_blank">separate from service during or after the year you reach age 55 
							(or the year you reach age 50 if you are a public safety employee as defined by section 72(t)(10)(B)(ii) of the Internal Revenue Code)</a>, you can withdraw from your TSP without any penalty.</p>
							<p>6. <strong>Be lucky enough to have a 457 plan</strong> with your employer.  After leaving a job, there is simply no 10% penalty for early withdrawals.  457 plans are only available for some 
							government and certain non-governmental employers (generally just some non-profits), but they are a great option if you have access.</p>
							<p>7. <strong>An HSA can be used like an IRA</strong> if you keep your receipts (this requires having medical expenses prior to doing this, of course).  Using an HSA like this is discussed more at 
							<a href="https://www.freemoneyfinance.com/2008/08/using-your-heal.html" target="_blank">Free Money Finance</a> and <a href="https://www.madfientist.com/ultimate-retirement-account/" target="_blank">Mad Fientist</a>.</p>
							
							<h4>Other exceptions</h4>
							<p>The IRS lets you withdraw penalty-free from an IRA for a few reasons unrelated to retirement:</p>
							<ol>
								<li><p>$10,000 can be withdrawn for the purchase of a first home.</p></li>
								<li><p>You can spend money on qualified education expenses for yourself, your spouse, children, or grandchildren.</p></li>
								<li><p>Hardship withdrawals: qualifying for this is difficult, but it is possible to withdraw penalty-free for excessive medical costs, medical insurance premiums while unemployed, total and permanent disability, and, well, if you die, your beneficiaries can withdraw without penalty.</p></li>
							</ol>
							<h4>Additional advantages of tax-advantaged accounts</h4>
							<ol>
								<li><p>IRAs, 401(k) accounts, and other qualified accounts are much more protected from creditors in the case of bankruptcies and lawsuits.  
								The protections tend to be strongest for employer 401(k) plans, followed by individual 401(k) plans, and then IRAs.  (Protections for individual accounts varies depending on your state.)  All are much more 
								protected than taxable accounts.</p></li>
								<li><p>Re-balancing is tough.  Want to exchange some of one mutual fund and buy another in a tax-advantaged account?  Easy.
								No capital gains taxes.  Do this in a taxable account, and you need to worry about capital gains taxes, holding periods, etc.</p></li>
							</ol>
							<h4>What are some situations in which taxable investing makes sense?</h4>
							<p>There are actually times when taxable investing makes more sense than using tax-advantaged retirement accounts.  Not everyone wants to retire early and there is more to 
							life than retirement too.</p><p>You <em>should</em> be using a taxable account for these situations:</p>
							<ol>
								<li><p>If you've maxed out your tax-advantaged options, taxable is your only option.</p></li>
								<li><p>If you are saving for major expenses that you'll incur before retirement (examples: buying a car or a home), taxable accounts 
								are the way to go!  Use savings or CDs if you're only 1-3 years away from a purchase and a conservative mix of stock and bond funds for longer periods of time.</p></li>
								<li><p>If you have no plans to retire early and are on schedule or are ahead of schedule for retirement savings, you can go either way 
								(taxable or tax-advantaged). It's up to you.</p></li>
							</ol>
							<p>Note: Your emergency fund and short-term savings should generally be kept in checking, savings, or CDs.</p>
						</li>
					</ol>
					<h4>I have a bad 401(k) plan, can I roll it to an IRA now?</h4>
					<p>401(k) plans usually only allow rollovers upon separation from the employer that sponsors the plan.  Some plans, however, have an "in-service rollover" provision that does allow participants to roll funds from a 401(k) to another qualifying retirement plan without separating from the sponsor.  This is a plan-by-plan feature, so you need to check with your 401(k) administrator or human resources office to find out if your plan has it.</p>
					<h4>Do rollovers into my new 401(k) count against my annual contribution limit?</h4>
					<p>No.  Rollovers do not count against annual contribution limits for your 401(k) or IRA.</p>
					<h4>What's the best way to perform/initiate a rollover?</h4>
					<p>Starting in 2015, the IRS instituted a "<a href="https://www.irs.gov/Retirement-Plans/IRA-One-Rollover-Per-Year-Rule" target="_blank">one rollover per year</a>" policy regardless of how many IRAs you own.  In context, this refers to a rollover when you, the account holder, receives a check and then redeposits the money into the proper account.  It <strong>does not</strong> apply to trustee-to-trustee rollovers in which you never have to deal with a check and everything is handled by the gaining and losing financial institutions.</p>
					<p>Therefore, you should do a direct rollover (from trustee to trustee) whenever possible to avoid any potential complications with the IRS, losing the check, or accidentally taking a distribution.</p>
					<p>To put it more simply, you want to try to avoid the need to receive a check at all by doing a direct rollover.</p>
					<ul>
						<li>If you receive a check, you only have 60 days to deposit that money into a qualified retirement account like an IRA. After 60 days, it's considered an unqualified distribution, and you'll be hit with taxes and a 10% penalty.</li>
						<li>If you must receive a check, ask for it to be made out in the name of the receiving institution FBO ("for benefit of") your name.</li>
						<li>The worst way to do a rollover is to receive a check made out in your name. If that happens, it's likely that 20% of the money in the account has been withheld for taxes, and you not only have to deposit the check for 80%, you will also want to come up the "missing" 20% from your own savings and deposit that into the receiving account as well (you get a refund for unnecessarily withheld money <em>after</em> you file your tax return).</li>
					</ul>
					<p><a href="https://www.bankrate.com/retirement/401k-rollover-guide/" target="_blank">BankRate has a longer guide on the process</a> with some good information.</p>
					<h4>What are the best companies for an IRA and how should I invest in my IRA?</h4>
					<p>Vanguard, Fidelity, and Charles Schwab are generally the IRA providers with the lowest expense ratio funds to invest in.</p>
					<h4>Informative Articles</h4>
					<ul>
						<li><a href="https://www.aarp.org/retirement/retirement-savings/info-2019/old-401k-accounts.html" target="_blank">Factors to Consider Before You Roll Over Money Into An IRA</a></li>
						<li><a href="https://www.thebalance.com/what-to-do-with-an-old-401k-4097704" target="_blank">Think Twice Before Deciding What to Do With an Old 401(k)</a></li>
					</ul>
					
					<h2 class="callout success">Step-by-Step Guide to 401(k) Fund Selection</h2>
					<p>Employer-sponsored retirement accounts are a great way to end up with more money when you're ready to retire. 401(k) plans are the most common type, but there are also 403(b) plans for the public 
					sector and non-profits, 457 plans for government employees, the Thrift Savings Plan for federal employees, and a few 
					other choices.  Beyond the huge tax advantages, these plans have much higher contribution limits than an IRA and the possibility of employer matching contributions.  Sometimes, the only way to save 
					enough for retirement (e.g., 15-20% of your income) is to use an employer-sponsored plan in addition to an IRA.  Unfortunately, many plans have limited investment options with higher expenses.</p>

					<h3>First Principles</h3>
					<p>The overall approach is to optimize fund choices across several competing factors. These are in rough order of importance, but sometimes these factors are going to conflict with each other.  You will want:</p>
					<ol>
						<li>Employer matching (as much as possible)</li>
						<li>A diversified portfolio consisting of stocks and bonds</li>
						<li>Mostly domestic stocks and some international stocks</li>
						<li>Reduced costs by choosing funds with lower expense ratios</li>
						<li>Passively managed index funds rather than actively managed mutual funds</li>
					</ol>
					<h3>Know When to Punt</h3>
					<p>There is one additional tool at our disposal: most people have the ability to open an IRA with similar tax advantages and good fund choices.  So, in some cases, we're going to decide to skip one or 
					two investment types and acquire those separately in an IRA.</p>
					<p>So, if you find yourself with a bad option or two when going through these steps, don't panic. Do the best you can and the last step discusses how to fix problems.</p>
					<h3>Costs (Expense Ratios)</h3>
					<p>The expense ratio (ER) of a fund is the total percentage of your investment used each year for administration and other costs.  The "net" ER is the number that matters because that's the amount 
					you're actually being charged.</p>
					<p>What makes a good ER for a fund?  For domestic stock funds in the US, an ER below 0.1% is great, below 0.25% is good, below 0.5% is fair, and below 1% is sometimes the best you can manage in an 
					expensive plan.  If you find yourself much above 0.2% then once you've maximized your employer matching, you should probably max out your savings in an IRA before you max out your 401(k).  This 
					being said, even if you are limited to expensive funds above 1% ER, it's still almost always a better choice to max out your IRA and 401(k) before using a taxable account.  Beyond the enormous 
					tax advantages, you can always move your money after leaving your job and your employer plan may also improve in the future.</p>
					<p>Generally speaking, cheap international funds tend to have ERs about 3x higher than domestic funds and small-cap and bond funds tend to be about 1.5-2x higher in ER than large-cap stock funds. 
					Expensive funds tend to have an ER around 0.75% to 1.5% regardless of the type.</p>
					<p>Finally, try very hard to avoid funds that have transaction fees or sales charges (also known as loads or commissions).</p>
					
					<h3>The Steps</h3>
					<h4>1. Research Your Plan Options</h4>
					<p>Get a complete list of the funds available in your plan.  You will need the fund name, the ticker symbol (a five--letter code), and the ER for that fund in <em>your</em> plan.  You may have to read the prospectus or search on the Internet to find out more about each fund if the fund names are not descriptive enough.</p>
					<h4>Target Date Funds</h4>
					<p>If your plan offers target date funds with an expense ratio that is comparable to or better than the other options in your plan, you should consider using it as your sole investment in your plan to lower your costs and/or keep things simple.  Target date funds allocate across both domestic and international stock markets.  They also include a bond allocation that slowly increases over time as you approach the target date (of retirement).  They're intended to be the only fund you use within a plan.</p>
					<p>Some excellent target date fund families include:</p>
					<ul>
						<li><a href="https://www.tsp.gov/funds-lifecycle/" target="_blank">Thrift Savings Plan Lifecycle (L) funds</a></li>
						<li>Vanguard target date funds</li>
						<li>Fidelity Freedom Index funds <a href="https://imgur.com/ooKWXp0.png" target="_blank">(try to avoid the similarly named Fidelity Freedom Funds without the word "Index" in the name</a>)</li>
						<li>Schwab Target Index funds (<a href="https://imgur.com/ZVLtqNG.png" target="_blank">try to avoid the similarly named Schwab Target Funds without the word "Index" in the name</a>)</li>
						<li>TIAA-CREF Lifecycle Index Series</li>
					</ul>
					<p>Other target date funds tend to be more expensive and/or include actively managed funds, but they might still be the best choice in some plans.</p>
					<h4>Balanced Funds</h4>
					<p>There are also balanced funds that may be worth considering because they are diversified like target date funds, although they don't increase the bond allocation over time.  Some good options include:</p>
					<ul>
						<li><p>Fidelity Four-in-One Index Fund is similar to a target date fund with a target date that's 20 years away</p></li>
						<li><p>Vanguard LifeStrategy Growth Fund is similar to a target date fund with a target date that's 15 years away</p></li>
						<li><p>Vanguard LifeStrategy Moderate Growth Fund and Vanguard Balanced Index Fund are similar to a target date fund with a target date that's 5 years away</p></li>
						<li><p>Vanguard LifeStrategy Conservative Growth Fund is similar to a target fund for someone in retirement</p></li>
					</ul>
					<p>Most other balanced funds tend to be more expensive and/or include actively managed funds.</p>
					<p>If you haven't selected a target date fund or a balanced fund, continue on below.</p>
					<h4>2. Decide on Your Bond Allocation</h4>
					<p>You need to decide what percentage you want to hold in bonds and what percentage in stocks.  This is a complex topic, but some approaches are:</p>
					<ul>
						<li><p>Subtract your age from 130 or 120, allocate that percentage to stocks (cap at 100), and the remainder is your bond allocation.</p></li>
						<li><p>Subtract your age from 110 or 100, allocate that percentage to stocks, and the remainder is your bond allocation.</p></li>
						<li><p>Use your age in bonds (e.g., a 20-year-old would hold 20% bonds).</p></li>
					</ul>
					<p>While some investors do decide to leave out bonds, most target date funds always include at least 10% bonds even for investors very far from retirement.  Holding less in bonds will result in higher volatility so a 100% stock allocation will result in the highest possible volatility.</p>
					<p>If you're uncertain about your bond allocation, here are two options:</p>
					<ol>
						<li>Take the <a href="https://personal.vanguard.com/us/FundsInvQuestionnaire" target="_blank">Vanguard Investor Questionnaire</a> and use the resulting bond allocation recommendation.</li>
						<li><a href="https://www.bogleheads.org/wiki/Glide_paths" target="_blank">Use the same overall bond allocation as a target date fund with a target date approximating the year in which you expect to retire.</a></li>
					</ol>
					<h4>3. Bonds</h4>
					<p>You will ideally want to allocate the entire bond allocation to a Total Bond Market index fund with a low expense ratio.  Here is a rough ranking of the various options to consider for this:</p>
					<ul>
						<li><p>Total Bond Market index fund</p></li>
						<li><p>The lowest cost intermediate-term bond fund</p></li>
						<li><p>The lowest cost bond fund</p></li>
					</ul>
					<p>Note that a money market fund or a sweep account is not a suitable alternative because of costs and lower interest rates.</p>
					<h4>4. US Stocks</h4>
					<p>This is going to be the largest percentage of your overall allocation.</p>
					<p>Take your stock allocation and multiply it 70%.  We ideally want to allocate this amount to a US Total Stock Market index fund with a low expense ratio.  Here is a rough ranking of the various options to consider for your US stock allocation:</p>
					<ul>
						<li><p>US Total Stock Market index fund</p></li>
						<li><p>A mix of index funds that <a href="https://www.bogleheads.org/wiki/Approximating_total_stock_market" target="_blank">approximate the US Total Stock Market</a></p></li>
						<li><p>A good large-cap index fund (e.g., a S&amp;P 500 index fund)</p></li>
						<li><p>The lowest cost US mutual fund choice(s), ideally averaging out to Morningstar large size category and the Morningstar blend style category.</p></li>
					</ul>
					<p>If you end up on the last option and your plan only has growth and value funds, you can approximate a blend style fund by combining equal proportions of growth and value.  Because large-cap stocks constitute about 80% of the US stock market, you also want to try to only use small-cap and mid-cap funds for about 20% of your US stock allocation.</p>
					<h4>5. International Stocks</h4>
					<p>Take your stock allocation and multiply it by 30%.  We ideally want to allocate this amount to a Total International Stock Market index fund with a low expense ratio.  Here is a rough ranking of the various options to consider for this:</p>
					<ul>
						<li><p>Total International Stock Market index fund (sometimes called a "Global/All-Country/All-World ex-US Stock Index" fund)</p></li>
						<li><p>A mix of index funds that approximate the Total International Stock Market (81% developed and 19% emerging is close)</p></li>
						<li><p>A good developed markets international index fund</p></li>
						<li><p>The lowest cost international mutual fund choice(s)</p></li>
					</ul>
					<p>In a worst-case scenario, it's acceptable to fall short of 30%, but see the "Fixing Problems" section below first.</p>
					<h4>6. Fixing Problems</h4>
					<p>Now, if you have a great employer plan, you're basically done at this point. If some funds that you had to pick weren't index funds, had high expense ratios, or weren't quite right, then consider following these steps:</p>
					<ol>
						<li>Open an IRA if you don't already have one.  Good options include Vanguard, Fidelity, and Schwab.</li>
						<li>Take the worst fund from your 401(k) and leave it out of your 401(k).</li>
						<li>Replace that fund with a better choice from your IRA.</li>
						<li>Repeat #2 and #3 if needed.</li>
					</ol>
					<p>Ideally, you want to do this while <a href="https://www.bogleheads.org/wiki/Asset_allocation_in_multiple_accounts" target="_blank">preserving the overall allocation you want</a>, but sometimes that will be difficult.  If the fund you're trying to replace is a US stock fund, it's likely that you'll only be able to partially replace it because US stocks are the largest percentage of our allocation.  Do your best and just contribute as much to both an IRA and a 401(k) as you can.  It doesn't have to be perfect.</p>
					<p>If your income exceeds the limit for deductible contributions to a Traditional IRA then it may be disadvantageous to use this approach <em>if it would mean contributing less to your 401(k) plan</em> because it might increase your taxable income.</p>
					<p>When fixing problems via a separate IRA, there are two big things that you don't want to do:</p>
					<ol>
						<li>Leave employer match on the table.</li>
						<li>Contribute less to retirement than you wanted to contribute before running into bad choices.  In virtually all cases, tax-advantaged savings trumps poor choices.</li>
					</ol>
					
					<h3>Calculators</h3>
					<ul>
						<li><a href="https://www.calculator.net/401k-calculator.html" target="_blank">401(k) Calculator</a></li>
						<li><a href="https://content.sharefc.com/ondemand/analytics/compute.vm?hnd=2&client=adp" target="_blank">401(k) Contribution Calculator</a></li>
						<li><a href="https://www.adp.com/resources/tools/calculators/401k-planner-calculator.aspx" target="_blank">401(k) Planner</a></li>
						<li><a href="https://adp.everfi-next.net/student/dashboard/financialeducation/adp-calculators-resources/177?locale=en" target="_blank">Withdrawals in Retirement Calculator</a></li>
					</ul>
					<h3>Videos</h3>
					<ul>
						<li><em><a href="https://www.bogleheads.org/wiki/Video:Bogleheads%C2%AE_investment_philosophy" target="_blank">Bogleheads investment philosophy videos</a></em></li>
						<li><em><a href="https://www.youtube.com/watch?v=1O1Lk21o3Hw&list=PLel90WA3J2dQ7M7Mt9-isj_Q0Nix7kDpr&index=22" target="_blank">Marko: 4% Rule of Retirement Withdrawal</a></em></li>
						<li><em><a href="https://www.youtube.com/watch?v=AbkacoEdAG0&list=PLel90WA3J2dQ7M7Mt9-isj_Q0Nix7kDpr&index=35" target="_blank">Marko: 401(k) vs. Roth IRA</a></em></li>
					</ul>
				</div>
			</div>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="">
					<hr>
					<h5 class="callout primary">Saint Francis X. FCU has wonderful IRA options. Please call, click, or stop by any of our branches and see how we can help you retire happily!</h5>
					<hr>
					<p><strong><a href="https://www.reddit.com/r/personalfinance/wiki/index#wiki_retirement" target="_blank">SOURCE</a></strong></p>
				</div>
			</div>
		</div>
	</body>
</html>