<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Example">
        <title>Example</title>
        <link rel="stylesheet" href="../css/overrides2.css" type="text/css">
        <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="mainContent">
            <div class="mainContent__column width--4 just--left">
                <p>Left Box</p>
            </div>
            <div class="mainContent__column width--4 just--center">
                <p>Middle Box</p>
            </div>
            <div class="mainContent__column width--4 just--right">
                <p>Right Box</p>
            </div>
        </div>
    </body>
</html>
