<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Mortgage Education">
		<title>Mortgage</title>
		<link rel="stylesheet" href="../css/foundation.css" type="text/css">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div class="grid-container fluid">
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="">
					<br>
					<a href="https://www.stfranciscu.org" target="_blank"><img src="../images/sfxfcu_logo.jpg" alt="Logo"></a>
				</div>
			</div>
			<br>
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell" id="">
					<h1 class="callout secondary">Mortgages</h1>				
					<h2>Types of Mortgages</h2>
					<h3>Fixed rate mortgages</h3>
					<p>With a fixed rate mortgage the interest rate, and therefore the monthly payments (principal + interest), remain the same.  Common fixed rate mortgage terms are 15, 20, and 30 years.</p>
					<p>Longer terms equate to higher interest rates.  While a shorter term means a lower rate, the monthly payments are higher to compensate.  One strategy is to take out a 30-year mortgage at a higher interest rate, but to make extra payments to reduce the total amount of interest paid over the life of the mortgage.</p>
					<h3>Adjustable rate mortgages</h3>
					<p>Adjustable rate mortgages (ARMs) usually have a low initial fixed rate for a short time period before the rate is adjusted each year after the fixed period is over. For example, a 5/1 ARM is a mortgage that has a 5 year fixed rate period, and then adjusts annually.</p>
					<p>ARMs offer significant risk, as the jump in monthly payments can be extreme depending on what the interest rate is tied to.  ARMs may come with a wide range of options depending on the lender.  Some have limits on how much the interest rate can increase during a given adjustment, some adjust with a different frequency than every year, and some offer longer fixed rate periods before adjusting.</p>
					<p>ARMs can be particularly advantageous if a homebuyer plans to sell the property before the end of the fixed rate period.</p>
					<h3>Interest-only mortgages</h3>
					<p>With an interest-only mortgage a borrower only pays the interest due for a certain period of time, before starting principal + interest payments.  </p>
					<p>The obvious disadvantage of an interest-only mortgage is the borrower builds no equity in their property for the period they are only paying interest.  When the interest-only period ends, monthly payments are necessarily higher than they otherwise would be because the borrower hasn't been paying down the principal.  Finally, most interest-only mortgages have an adjustable rate component to them.</p>
					<h3>Piggyback mortgages</h3>
					<p>In a piggyback mortgage a lender extends a traditional mortgage as well as what's effectively an advance home equity line of credit - a second loan against the value of the property that the borrower also has to pay back.  </p>
					<p>This "piggyback" loan is usually at HELOC rates (higher than a normal mortgage) and has to be paid back concurrently with the traditional mortgage.  The purpose of the piggyback loan is to reduce the cash required for a down payment on a property.</p>
					<h2>Frequently asked questions on Housing</h2>
					<h4>Isn't renting just throwing away money every month?  Or, What are the real costs of owning?</h4>
					<p>The main advantage to renting is that it requires much less capital and offers much greater flexibility if you want to change your housing situation.  If the math works out in favor of owning (and it doesn't always work out that way), these are the two features you're paying for with your rent.</p>
					<p>There are many factors to consider when evaluating whether owning might be more expensive than renting:</p>
					<ol>
						<li>Property Tax - if you itemize, this is deductible, but you'll never see the money again. This is already factored into rent.</li>
						<li>Mortgage Interest - if you itemize, this is deductible, but you'll never see the money again.</li>
						<li>Mortgage Principle/Home Equity - this is money that you are saving in your house instead of investing in the market.  Home values have a different risk/return curve than equities, but not necessarily a better one.</li>
						<li>Utilities - Even if utilities aren't included in rent, most people buy a larger home if they own than if they rent, so utilities can be higher.  They are also higher per square foot for free-standing houses than for apartment buildings.  Some apartment complexes also have reduced Cable and Internet prices, or better service.  Renters also may not pay specifically for water, sewer, trash removal, and snow/lawn services.</li>
						<li>HOA fees may apply to owners.</li>
						<li>Maintenance - If you own, you pay to fix things instead of the landlord paying.</li>
					</ol>
					<p>Obviously, home-ownership has many subjective benefits, and is not a purely financial decision.</p>
					<p>More on this topic:</p>
					<ul>
						<li><a href="https://poorerthanyou.com/2018/04/01/renting-throwing-money-away/" target="_blank">Renting Is Just Throwing Your Money Away</a></li>
						<li><a href="https://affordanything.com/is-renting-better-than-buying-should-i-rent-or-buy/" target="_blank">Renting Is Throwing Money Away ... Right?</a></li>
						<li><a href="https://www.getrichslowly.org/rent-or-buy/" target="_blank">Is it better to rent or buy a home?</a></li>
					</ul>
					<h4>What do mortgage lenders look for?</h4>
					<p>Potential lenders look at your housing expense-to-income ratio. Your mortgage payment as a percentage of your gross monthly income should generally be under 28%. Potential lenders also look at your total monthly payments relative to your gross monthly income. That calculation will factor in your other debts and must generally be under 36%.  Finally, how much home you can afford will be largely based on the size of your down payment.  Most lenders require at least 20% of the appraised value as a down payment to avoid private mortgage insurance (PMI) that adds to your monthly expense.</p>
					<h3>Calculators</h3>
					<ul>
						<li><a href="https://www.drcalculator.com/mortgage/" target="_blank">Mortgage Calculator</a></li>
						<li><a href="http://www.nytimes.com/interactive/2014/upshot/buy-rent-calculator.html" target="_blank">NYT Rent vs. Buy Calculator</a></li>
						<li><a href="http://www.consumerfinance.gov/owning-a-home/check-rates/" target="_blank">CFPB housing cost calculator</a></li>
					</ul>
					<h3>Videos</h3>
					<ul>
						<li><a href="https://www.youtube.com/watch?v=HfrqjUKj1uA&list=PLel90WA3J2dR5TY-mQAH7dwpyUubUyQIY&index=3" target="_blank">Marko: How much house can I afford?</a></li>
						<li><a href="https://www.youtube.com/watch?v=mU69g6Ao47A&list=PLel90WA3J2dR5TY-mQAH7dwpyUubUyQIY&index=18" target="_blank">Marko: Mortgage 101</a></li>
						<li><a href="https://www.youtube.com/watch?v=fBP2E8J6SZ0&list=PLel90WA3J2dR5TY-mQAH7dwpyUubUyQIY&index=19" target="_blank">Marko: How to buy a house, step by step</a></li>
						<li><a href="https://www.youtube.com/watch?v=myifFj6pDl8&list=PLel90WA3J2dR5TY-mQAH7dwpyUubUyQIY&index=22" target="_blank">Marko: How to save for a house</a></li>
						<li><a href="https://www.youtube.com/watch?v=ciDv7UcVnRM&list=PLel90WA3J2dR5TY-mQAH7dwpyUubUyQIY&index=23" target="_blank">Marko: Pay off mortgage early or invest?</a></li>
					</ul>
					<hr>
					<h5 class="callout primary">Saint Francis X. FCU has a very simple mortgage process. All decisions are made locally and our loans are never sold. Your mortgage will stay in our institution for the entire 
					life of the loan. You will not pay for private mortgage insurance (PMI) and there are never closing costs. Please call, click, or stop by to any of our branches to see how we can save 
					you money on your home purchase!</h5>
					<hr>
					<p><strong><a href="https://www.reddit.com/r/personalfinance/wiki/housing">SOURCE</a></strong></p>
				</div>
			</div>
		</div>
	</body>
</html>