<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="Fraud Education">
		<title>Fraud</title>
		<link rel="stylesheet" href="../../css/foundation.css" type="text/css">
		<link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">
	</head>
  <body>
	<div class="grid-container fluid">
		<div class="grid-x grid-margin-x">
				<div class="small-12 cell" id="logo_div">
					<br>
					<a href="https://www.stfranciscu.org" target="_blank" rel="noopener"><img src="../../assets/images/sfxfcu_logo400.webp" alt="Logo"></a>
				</div>
			</div>
			<br>
			<div class="grid-x grid-margin-x">
				<div class="small-12 cell" id="content_div">
					<h3>First, here are <a href="https://www.usa.gov/common-scams-frauds" target="_blank" rel="noopener">some common scams and frauds</a>, <a href="https://www.forbes.com/uk/advisor/personal-finance/2021/01/05/fraud-5-hot-scams-in-2021-and-how-to-avoid-them/" target="_blank" rel="noopener">Another Resource!</a></h3>
					<h3>Next, here are some good links to learn how to protect yourself:  <a href="https://www.consumer.ftc.gov/features/feature-0038-onguardonline" target="_blank" rel="noopener">FTC</a>, <a href="https://staysafeonline.org/stay-safe-online/" target="_blank" rel="noopener">Stay Safe Online</a>,
					<a href="https://scamicide.com/" target="_blank" rel="noopener">Scamicide</a></h3>
					<h1 class="callout secondary">Identity Theft</h1>
					<p>If you just found out that your identity has been compromised, or you are at risk of having your identity stolen, you are in the right place. Perhaps your personal information was stolen in a large breach, perhaps you had your purse or wallet stolen, or perhaps you found out someone opened a credit card in your name. Whatever the case may be, you need to take control of the situation promptly.</p>
					<p>
						<em><strong>Note that you can do everything on this page regardless of whether you've been an ID theft victim</strong> (obviously you should skip reporting of theft, the identity theft affidavit or police report, and notifying the IRS).</em>
					</p>
					<h2>What to do immediately</h2>
					<p>Do these steps right now, in order, and do not wait.</p>
					<ol>
						<li>
							<strong>Immediately report</strong> any stolen credit cards or missing checks to their respective credit unions or issuers. Make sure you account for each card and check, and contact every lender. Prompt reporting will limit your liability in the event of fraudulent usage.
						</li>
						<li>
							<strong>Freeze your credit.</strong> Even if you haven't been an ID theft victim, the growing consensus is that you should freeze your credit to protect yourself from ID theft. Both freezing and unfreezing your credit is free!
							<br>
							<em>Before doing this step, you may want to quickly sign up at the <a href="https://www.ssa.gov/">Social Security Administration</a> (It can be helpful to check your earnings if you've had IRS issues due to identity theft.)</em>
						</li>
					</ol>
					<p>Freeze your credit at each of these credit agencies:</p>
					<ul>
						<li>
							<strong><a href="https://www.experian.com/ncaconline/freeze" target="_blank" rel="noopener">Experian Security Freeze</a></strong>
						</li>
						<li>
							<strong><a href="https://www.equifax.com/personal/credit-report-services/credit-freeze/" target="_blank" rel="noopener">Equifax Security Freeze</a></strong>
						</li>
						<li>
							<strong><a href="https://freeze.transunion.com/sf/securityFreeze/landingPage.jsp" target="_blank" rel="noopener">TransUnion Security Freeze</a></strong>
						</li>
						<li>
							<strong><a href="https://www.innovis.com/securityFreeze/index" target="_blank" rel="noopener">Innovis Security Freeze</a></strong> (Innovis is smaller than the other three, but you should still place a freeze with them.)</li>
					</ul>
					<p>You  <strong>must</strong>  file a separate report with each agency. It's free and once you freeze your credit reports, no credit union or lender will be able to pull your credit reports. This will help prevent identity thieves from opening lines of credit, credit cards, or other loans in your name. This may also prevent you from taking out your own loans or credit lines, unless you either temporarily thaw your credit, or permanently unfreeze them. You will be mailed a confirmation letter with a PIN code, and you must use that PIN code to initiate any temporary or permanent unfreezing. Keep these PIN codes filed in a safe and secure place!</p>
					<p>If a freeze seems too inconvenient to you, another option to consider is to place an <a href="https://www.alerts.equifax.com/AutoFraud_Online/jsp/fraudAlert.jsp" target="_blank" rel="noopener">online fraud alert</a> (and unlike a freeze you only have to do it with one agency, they should report the alert to the others). With an active fraud alert, businesses must verify your identity before issuing new credit, so you may be contacted. Fraud alerts generally last for one year, but it is also possible to get an extended fraud alert that may last for seven years if you have filed a police report or an FTC Identity Theft Report.</p>
					<ol start="3">
						<li><strong>Place a security freeze with ChexSystems.</strong></li>
					</ol>
					<p>You should <strong><a href="https://www.chexsystems.com/web/chexsystems/consumerdebit/page/securityfreeze/placefreeze/" target="_blank" rel="noopener">freeze your ChexSystems online</a></strong> too.</p>
					<p>
					<a href="https://www.bankrate.com/finance/checking/chexsystems.aspx" target="_blank" rel="noopener">80% percent</a> of credit unions use ChexSystems to screen new customers. This step will make it harder for thieves to open a credit union account in your name. This works the same as the above credit reporting agencies, and it is free. This is not foolproof because some credit unions don't use ChexSystems, but this may prevent some scams.</p>
					<ol start="4">
					<li><strong>Create an identity theft affidavit and consider filing a police report</strong>.</li>
					</ol>
					<ul>
						<li>You can <strong><a href="https://www.identitytheft.gov/" target="_blank" rel="noopener">file your identity theft affidavit online</a></strong> with the FTC. When you are finished, save your completed FTC Identity Theft Report.</li>
						<li>In many cases, the FTC Identity Theft Report is sufficient to resolve identity theft issues, but some creditors, debt collectors, and other companies may require a police report. In addition to that reason, you may want to more strongly consider filing a police report if you have enough information for the police to conduct an investigation or if your identity was used in an encounter with the police (<a href="https://www.consumer.ftc.gov/blog/2017/04/most-id-theft-victims-dont-need-police-report" target="_blank" rel="noopener">source</a>).</li>
					</ul>
					<p>Generally, you can file your police report with your local police, but in some cases you can file the report where the identity theft happened. Some cities and states have a specific process for identity theft police reports. You can check with your local police department or local attorney general to find out. When filing your report, bring along your completed FTC Identity Theft Report, a form of government issued ID, proof of address, and a copy of the <a href="https://www.consumer.ftc.gov/articles/pdf-0088-ftc-memo-law-enforcement.pdf" target="_blank" rel="noopener">FTC memo to law enforcement</a>.</p>
					<ul>
						<li>If you haven't signed the affidavit yet, bring it to a notary public to have notarized. Many credit unions offer notary services for free. <em>DO NOT sign the affidavit until instructed to do so by the notary public! They must witness your signature!</em> Now you will have a notarized identity theft affidavit along with the police report.</li>
					</ul>
					<ol start="5">
						<li>
					<strong>Make sure your online presence is secure</strong>.</li>
					</ol>
					<ul>
						<li>Consider anti-virus on your computer, check for malware, and remove any malware that is discovered. Use a well-regarded program, most of which are easily Googled</li>
						<li>If your computer was infected, immediately change your passwords for any financial accounts, social media, email, and any other accounts related to the ID theft.</li>
					</ul>
					<h2>What to do within the first few days</h2>
					<p>These steps are not as urgent, but are still important to do in a timely fashion.</p>
					<ol start="1">
						<li>
							<p><strong>Pull a copy of your credit report</strong> to look for newly opened accounts. Remember to pull all three bureaus. You will need to dispute fraudulent accounts with both the credit reporting agency, and with the fraud department of the credit union or lender where the accounts were opened. You should also look for recent credit inquiries that you didn't initiate (signs of attempted fraud), and check to make sure that the only addresses being reported on your credit report are your actual address (thieves will open accounts using addresses they control, or try and change the address for your existing accounts to one they control). Dispute any fraudulent inquiries or addresses. You can get copies of your reports for free via <a href="https://www.annualcreditreport.com/" target="_blank" rel="noopener">www.annualcreditreport.com</a>, or through a credit monitoring service.</p>
						</li>
						<li>
							<p>You may consider signing up for a <strong>credit monitoring service</strong>, preferably one that monitors daily and sends email alerts whenever your credit information from creditors significantly changes.</p>
						</li>
					</ol>
					<ul>
						<li>If you aren't already receiving free credit monitoring due to a data breach, Google and find a reputable monitoring service. There are a few.</li>
						<li>If you were impacted by a large data breach such as the Anthem Health breach, the Office Of Personnel Management breach, or one of the many other breaches that have been in the news, you can typically get free credit monitoring for 2 to 3 years. Find the official website regarding the breach and consider signing up (it should be linked from the company's main website, or you can find it via Google).</li>
						<li>Since you have already frozen your credit reports, the need for ongoing monitoring may be unnecessary. However, if you want to sign up for a paid credit monitoring service, use a service with "3 bureau" monitoring. Otherwise, compare the paid "3 bureau" credit monitoring options from Equifax, Experian, TransUnion, and MyFICO (you shouldn't need to pay more than $15 per month).</li>
					</ul>
					<ol start="3">
						<li><p><strong>Keep an eye on your accounts.</strong>  Check your recent transactions frequently. Set up text (SMS) alerts with your credit union and credit cards for things like "address changes", "failed log-in attempts", and/or "suspicious activity" so that you can be notified immediately.</p></li>
						<li><p><strong>Immediately dispute</strong> fraudulent activity as soon as you learn of it. Dispute debt collection notices within 30 days (to protect your rights under FDCPA), and send all disputes via certified mail, return receipt requested.</p></li>
						<li><p><strong>Notify the IRS</strong>  if your tax information was stolen, or believe that someone has already filed (or may try to file) a fraudulent tax return in your name. File a <strong><a href="https://www.irs.gov/pub/irs-pdf/f14039.pdf" target="_blank" rel="noopener">Form 14039, Identity Theft Affidavit</a></strong> with the IRS. Read it, fill it out, sign and mail it. Then continue to file and pay your taxes like usual. You can contact the IRS Identity Protection Specialized Unit at 1-800-908-4490 if you need further assistance. More information is available here: <a href="https://www.irs.gov/pub/irs-pdf/p5027.pdf" target="_blank" rel="noopener">https://www.irs.gov/pub/irs-pdf/p5027.pdf</a></p></li>
					</ol>
					<h2>Things you should do to protect your information in the future</h2>
					<ol start="1">
						<li><p>Use unique and strong passwords for every site and securely store them in a password manager which are easily Googled.</p></li>
						<li><p>Use <strong>two-factor authentication (2FA)</strong> for any accounts that support it, especially for your email, financial accounts, and social media. <a href="https://www.google.com/landing/2step/" target="_blank" rel="noopener">Gmail</a>, Yahoo!, Facebook, Twitter, and many other services support 2FA. You can find a whole list at <a href="https://twofactorauth.org/" target="_blank" rel="noopener">twofactorauth.org</a>. Favor using an authentication app such as Google Authenticator or Authy <em>or</em> a hardware token such as YubiKey or Titan Security Key.<strong> Make sure to print out backup codes (if applicable)</strong>, and keep the backup codes in a safe location such as a fire-resistant safe. 2FA will <em>keep anyone who gets your password from being able to log in</em>, but if you don't have your backup codes, and you lose your phone or device, <em>you'll be locked out too!</em></p></li>
						<li><p><strong>Protect your physical information carefully.</strong> Keep important identification and sensitive documents in a safe place at all times, possibly in a secure place (a locked car is not a secure place, anyone can break open a window and grab your stuff). If you don't have a safe deposit box you should invest in a safe (preferably a <a href="https://www.costco.com/.product.11590928.html" target="_blank" rel="noopener">fire-resistant, RSC-rated safe</a>, but any <a href="https://www.amazon.com/dp/B00GE57DFK?th=1&amp;psc=1" target="_blank" rel="noopener">cheap lock box</a> is better than nothing) to store your documents in at home, and if possible bolt it down or keep it hidden. Only take documents out for as little time as necessary. And don't carry your social security card in your purse or wallet.</p></li>
						<li><p><strong>Shred</strong>  documents containing personal information before disposing of them. Utilize a cross-cut or micro-cut shredder. Although it may not be likely that someone will dig through your trash, items in an unlocked garbage container are generally considered public property, so <em>legally</em> anyone could.</p></li>
						<li><p><strong>Keep your operating system up to date on your computer and mobile devices.</strong> If security updates are no longer being provided for your device, you should consider upgrading immediately.</p></li>
						<li><p><strong>Install anti-virus on your computer</strong> ,check for malware, and remove any malware that is discovered. Use a well-regarded program which is easily Googled.</p></li>
						<li><p><strong>Regularly backup your computer to cloud-based or off-site storage.</strong>  Popular solutions can be Googled. If you also back up your mobile phone to your computer, you can kill two birds with one stone.</p></li>
					</ol>
					<h2>Things you should consider doing, but aren't required</h2>
					<ol start="1">
						<li><p><strong>Opt-out of pre-screened credit offers</strong>  from coming to you in the mail: <strong><a href="https://www.optoutprescreen.com/opt_form.cgi" target="_blank" rel="noopener">OptOutPre-screen</a></strong>. This will reduce your junk mail, and reduce your risk in the event of mail theft. This is free to do, and you can opt out for five years or permanently.</p></li>
						<li><p>Put all of your phone numbers on the <strong><a href="https://www.donotcall.gov/">Do Not Call Registry</a></strong> if they aren't already. You can verify online if you aren't sure. This will reduce unwanted telemarketing calls.</p></li>
						<li><p><strong>Turn on whole-disk encryption</strong> on your computer. Instructions can be Googled.</p></li>
					</ol>
					<h2>Important things to remember</h2>
					<ol start="1">
						<li><p><strong>Stay calm.</strong>  Don't get discouraged. Take things step by step, and deal with problems as they arise.</p></li>
						<li><p><strong>Send all mail regarding ID theft using USPS Certified Mail, Return Receipt Requested</strong> , and make a note to yourself of what you sent along with the certified mailing number. It is important to have a paper trail for documents, and certified mail is the gold standard for sending legal correspondence. Send copies of original documents if possible, but if you need to send original documents you should keep copies of them for yourself. Write brief notes like the Certified Mail numbers on your copies, or on a cover sheet, so you don't lose that information. When you get back the green signature receipt cards, attach them to your copies of what you sent as proof of receipt.</p></li>
						<li><p><strong>Keep good records</strong> of the steps you took, when you took them, who you sent things to. Take notes, record phone conversations if possible (but <a href="https://www.rcfp.org/reporters-recording-guide/tape-recording-laws-glance">check the laws in your state first</a>). If you ever have legal troubles resulting from identity theft, good documentation will make your life a lot easier.</p></li>
					</ol>
					<h2>Articles about common scams</h2>
					<ul>
						<li><a href="https://www.click2houston.com/money/2020/09/14/this-payment-app-scam-could-wipe-out-your-bank-account-within-seconds/" target="_blank" rel="noopener">Cash App Wipe out</a></li>
						<li><a href="https://www.finextra.com/blogposting/18685/zelle-p2p-fraud-you-aint-seen-nothing-yet" target="_blank" rel="noopener">Zelle & P2P Fraud</a></li>
						<li><a href="https://scamicide.com/2020/08/19/scam-of-the-day-august-20-2020-the-risks-of-zelle-venmo-and-other-payment-service-apps/" target="_blank" rel="noopener">Risks of Payment Service Apps</a></li>
						<li><a href="https://www.nytimes.com/2020/10/11/technology/fraud-payment-apps.html" target="_blank" rel="noopener">Payment App Fraud</a></li>
					</ul>
					
					<hr>
					<h5 class="callout primary">Saint Francis X. FCU can help you navigate all of this if you believe that you've been compromised. If you are a member or would like to become a member. please call, click, or stop by our M-119 branch to see how we can help you!</h5>
					<hr>
					<p><a href="https://www.reddit.com/r/personalfinance/wiki/identity_theft"><strong>SOURCE</strong></a></p>
				</div>
			</div>
		</div>
	</body>
</html>
